.container {
  margin: 5px 20px;
  text-align: center;
}

input {
  width: 150px;
  margin: 10px auto;
}

.unit {
  position: absolute;
  margin-left: 5px;
  margin-top: 8px;
}

select {
  width: 158px;
  margin: 10px auto;
}

button {
  margin-bottom: 15px;
  width: 90px;
}